# Treat TensorFlow/Keras model files as binary
*.pb binary
*.h5 binary
*.tflite binary
*.onnx binary
backend/app/models/malunggay_disease_model/*.pb filter=lfs diff=lfs merge=lfs -text
backend/app/models/malunggay_disease_model/variables/* filter=lfs diff=lfs merge=lfs -text
backend/app/models/malunggay_disease_model/variables/variables.data-* filter=lfs diff=lfs merge=lfs -text
